<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <div class="mb-3">
            <label for="pTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="pTitle" name="postTitle" placeholder="">
        </div>
        <div class="mb-3">
            <label for="pContent" class="form-label">Post</label>
            <textarea class="form-control" id="pContent" name="postContent" rows="5"></textarea>
        </div>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>